src/main/resources/wsdl/gpas/gpasService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://psn.ttp.ganimed.icmvc.emau.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PSNManagerBeanService" targetNamespace="http://psn.ttp.ganimed.icmvc.emau.org/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://psn.ttp.ganimed.icmvc.emau.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://psn.ttp.ganimed.icmvc.emau.org/" version="1.0">
      <xs:element name="anonymiseEntries" type="tns:anonymiseEntries"/>
      <xs:element name="anonymiseEntriesResponse" type="tns:anonymiseEntriesResponse"/>
      <xs:element name="anonymiseEntry" type="tns:anonymiseEntry"/>
      <xs:element name="anonymiseEntryResponse" type="tns:anonymiseEntryResponse"/>
      <xs:element name="deleteEntries" type="tns:deleteEntries"/>
      <xs:element name="deleteEntriesResponse" type="tns:deleteEntriesResponse"/>
      <xs:element name="deleteEntry" type="tns:deleteEntry"/>
      <xs:element name="deleteEntryResponse" type="tns:deleteEntryResponse"/>
      <xs:element name="getOrCreatePseudonymFor" type="tns:getOrCreatePseudonymFor"/>
      <xs:element name="getOrCreatePseudonymForList" type="tns:getOrCreatePseudonymForList"/>
      <xs:element name="getOrCreatePseudonymForListResponse" type="tns:getOrCreatePseudonymForListResponse"/>
      <xs:element name="getOrCreatePseudonymForResponse" type="tns:getOrCreatePseudonymForResponse"/>
      <xs:element name="getPSNNetFor" type="tns:getPSNNetFor"/>
      <xs:element name="getPSNNetForResponse" type="tns:getPSNNetForResponse"/>
      <xs:element name="getPSNTreeForPSN" type="tns:getPSNTreeForPSN"/>
      <xs:element name="getPSNTreeForPSNResponse" type="tns:getPSNTreeForPSNResponse"/>
      <xs:element name="getPseudonymFor" type="tns:getPseudonymFor"/>
      <xs:element name="getPseudonymForList" type="tns:getPseudonymForList"/>
      <xs:element name="getPseudonymForListResponse" type="tns:getPseudonymForListResponse"/>
      <xs:element name="getPseudonymForResponse" type="tns:getPseudonymForResponse"/>
      <xs:element name="getPseudonymForValuePrefix" type="tns:getPseudonymForValuePrefix"/>
      <xs:element name="getPseudonymForValuePrefixResponse" type="tns:getPseudonymForValuePrefixResponse"/>
      <xs:element name="getValueFor" type="tns:getValueFor"/>
      <xs:element name="getValueForList" type="tns:getValueForList"/>
      <xs:element name="getValueForListResponse" type="tns:getValueForListResponse"/>
      <xs:element name="getValueForResponse" type="tns:getValueForResponse"/>
      <xs:element name="insertPairExceptionDTO" type="tns:insertPairExceptionDTO"/>
      <xs:element name="insertValuePseudonymPair" type="tns:insertValuePseudonymPair"/>
      <xs:element name="insertValuePseudonymPairResponse" type="tns:insertValuePseudonymPairResponse"/>
      <xs:element name="insertValuePseudonymPairs" type="tns:insertValuePseudonymPairs"/>
      <xs:element name="insertValuePseudonymPairsResponse" type="tns:insertValuePseudonymPairsResponse"/>
      <xs:element name="isAnonym" type="tns:isAnonym"/>
      <xs:element name="isAnonymResponse" type="tns:isAnonymResponse"/>
      <xs:element name="isAnonymised" type="tns:isAnonymised"/>
      <xs:element name="isAnonymisedResponse" type="tns:isAnonymisedResponse"/>
      <xs:element name="psnNetDTO" type="tns:psnNetDTO"/>
      <xs:element name="psnNetNodeDTO" type="tns:psnNetNodeDTO"/>
      <xs:element name="psnTreeDTO" type="tns:psnTreeDTO"/>
      <xs:element name="psndto" type="tns:psndto"/>
      <xs:element name="validatePSN" type="tns:validatePSN"/>
      <xs:element name="validatePSNResponse" type="tns:validatePSNResponse"/>
      <xs:complexType name="getPSNNetFor">
        <xs:sequence>
          <xs:element name="valueOrPSN" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPSNNetForResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="psnNet" type="tns:psnNetDTO"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="psnNetDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="root" type="tns:psnNetNodeDTO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="nodes" nillable="true" type="tns:psnNetNodeDTO"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="psnNetNodeDTO">
        <xs:complexContent>
          <xs:extension base="tns:psnTreeDTO">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="circleChildren" nillable="true" type="tns:psndto"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="psnTreeDTO">
        <xs:complexContent>
          <xs:extension base="tns:psndto">
            <xs:sequence>
              <xs:element name="level" type="xs:int"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="children" nillable="true" type="tns:psnTreeDTO"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="psndto">
        <xs:sequence>
          <xs:element minOccurs="0" name="domainName" type="xs:string"/>
          <xs:element minOccurs="0" name="originalValue" type="xs:string"/>
          <xs:element minOccurs="0" name="pseudonym" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="insertValuePseudonymPairs">
        <xs:sequence>
          <xs:element name="pairs">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string"/>
                      <xs:element minOccurs="0" name="value" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="domainName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="insertValuePseudonymPairsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="exceptionList" type="tns:insertPairExceptionDTO"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="insertPairExceptionDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
          <xs:element minOccurs="0" name="value" type="xs:string"/>
          <xs:element minOccurs="0" name="pseudonym" type="xs:string"/>
          <xs:element minOccurs="0" name="errorType" type="tns:insertPairError"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getValueFor">
        <xs:sequence>
          <xs:element name="psn" type="xs:string"/>
          <xs:element name="domainName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getValueForResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getOrCreatePseudonymForList">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="values" type="xs:string"/>
          <xs:element name="domainName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getOrCreatePseudonymForListResponse">
        <xs:sequence>
          <xs:element name="return" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string"/>
                      <xs:element minOccurs="0" name="value" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPseudonymForList">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="values" type="xs:string"/>
          <xs:element name="domainName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPseudonymForListResponse">
        <xs:sequence>
          <xs:element name="return" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string"/>
                      <xs:element minOccurs="0" name="value" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="insertValuePseudonymPair">
        <xs:sequence>
          <xs:element name="value" type="xs:string"/>
          <xs:element name="pseudonym" type="xs:string"/>
          <xs:element name="domainName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="insertValuePseudonymPairResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="deleteEntries">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="values" type="xs:string"/>
          <xs:element name="domainName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteEntriesResponse">
        <xs:sequence>
          <xs:element name="return" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string"/>
                      <xs:element minOccurs="0" name="value" type="tns:deletionResult"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPSNTreeForPSN">
        <xs:sequence>
          <xs:element name="psn" type="xs:string"/>
          <xs:element name="domainName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPSNTreeForPSNResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="psnTree" type="tns:psnTreeDTO"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonymiseEntry">
        <xs:sequence>
          <xs:element name="value" type="xs:string"/>
          <xs:element name="domainName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonymiseEntryResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="validatePSN">
        <xs:sequence>
          <xs:element name="psn" type="xs:string"/>
          <xs:element name="domainName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validatePSNResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="deleteEntry">
        <xs:sequence>
          <xs:element name="value" type="xs:string"/>
          <xs:element name="domainName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteEntryResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="isAnonymised">
        <xs:sequence>
          <xs:element name="psn" type="xs:string"/>
          <xs:element name="domainName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="isAnonymisedResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getValueForList">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="psnList" type="xs:string"/>
          <xs:element name="domainName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getValueForListResponse">
        <xs:sequence>
          <xs:element name="return" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string"/>
                      <xs:element minOccurs="0" name="value" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonymiseEntries">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="values" type="xs:string"/>
          <xs:element name="domainName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonymiseEntriesResponse">
        <xs:sequence>
          <xs:element name="return" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string"/>
                      <xs:element minOccurs="0" name="value" type="tns:anonymisationResult"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getOrCreatePseudonymFor">
        <xs:sequence>
          <xs:element name="value" type="xs:string"/>
          <xs:element name="domainName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getOrCreatePseudonymForResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="psn" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="isAnonym">
        <xs:sequence>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="isAnonymResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPseudonymForValuePrefix">
        <xs:sequence>
          <xs:element name="valuePrefix" type="xs:string"/>
          <xs:element name="domainName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPseudonymForValuePrefixResponse">
        <xs:sequence>
          <xs:element name="return" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string"/>
                      <xs:element minOccurs="0" name="value" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPseudonymFor">
        <xs:sequence>
          <xs:element name="value" type="xs:string"/>
          <xs:element name="domainName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPseudonymForResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="psn" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="insertPairError">
        <xs:restriction base="xs:string">
          <xs:enumeration value="VALUE_INVALID"/>
          <xs:enumeration value="PSEUDONYM_INVALID"/>
          <xs:enumeration value="DIFFERENT_PSEUDONYM_FOR_VALUE_EXISTS"/>
          <xs:enumeration value="DIFFERENT_VALUE_FOR_PSEUDONYM_EXISTS"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="deletionResult">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SUCCESS"/>
          <xs:enumeration value="NOT_FOUND"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="anonymisationResult">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SUCCESS"/>
          <xs:enumeration value="NOT_FOUND"/>
          <xs:enumeration value="ALREADY_ANONYMISED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="InvalidParameterException" type="tns:InvalidParameterException"/>
      <xs:complexType name="InvalidParameterException">
        <xs:sequence>
          <xs:element minOccurs="0" name="parameterName" type="xs:string"/>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="UnknownDomainException" type="tns:UnknownDomainExceptionType"/>
      <xs:complexType name="UnknownDomainExceptionType">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="PSNNotFoundException" type="tns:PSNNotFoundExceptionType"/>
      <xs:complexType name="PSNNotFoundExceptionType">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidPSNException" type="tns:InvalidPSNExceptionType"/>
      <xs:complexType name="InvalidPSNExceptionType">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ValueIsAnonymisedException" type="tns:ValueIsAnonymisedException"/>
      <xs:complexType name="ValueIsAnonymisedException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="DBException" type="tns:DBExceptionType"/>
      <xs:complexType name="DBExceptionType">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="DomainIsFullException" type="tns:DomainIsFullException"/>
      <xs:complexType name="DomainIsFullException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InsertPairException" type="tns:InsertPairException"/>
      <xs:complexType name="InsertPairException">
        <xs:sequence>
          <xs:element minOccurs="0" name="pseudonym" type="xs:string"/>
          <xs:element minOccurs="0" name="reason" type="tns:insertPairError"/>
          <xs:element minOccurs="0" name="value" type="xs:string"/>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="DeletionForbiddenException" type="tns:DeletionForbiddenException"/>
      <xs:complexType name="DeletionForbiddenException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="UnknownValueException" type="tns:UnknownValueExceptionType"/>
      <xs:complexType name="UnknownValueExceptionType">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getPSNNetFor">
    <wsdl:part element="tns:getPSNNetFor" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPseudonymForResponse">
    <wsdl:part element="tns:getPseudonymForResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DBException">
    <wsdl:part element="tns:DBException" name="DBException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getValueFor">
    <wsdl:part element="tns:getValueFor" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getValueForResponse">
    <wsdl:part element="tns:getValueForResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPseudonymForListResponse">
    <wsdl:part element="tns:getPseudonymForListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validatePSNResponse">
    <wsdl:part element="tns:validatePSNResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEntryResponse">
    <wsdl:part element="tns:deleteEntryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="anonymiseEntriesResponse">
    <wsdl:part element="tns:anonymiseEntriesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEntries">
    <wsdl:part element="tns:deleteEntries" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEntriesResponse">
    <wsdl:part element="tns:deleteEntriesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPSNTreeForPSN">
    <wsdl:part element="tns:getPSNTreeForPSN" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPseudonymForValuePrefixResponse">
    <wsdl:part element="tns:getPseudonymForValuePrefixResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="anonymiseEntry">
    <wsdl:part element="tns:anonymiseEntry" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPSNTreeForPSNResponse">
    <wsdl:part element="tns:getPSNTreeForPSNResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidParameterException">
    <wsdl:part element="tns:InvalidParameterException" name="InvalidParameterException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertValuePseudonymPairResponse">
    <wsdl:part element="tns:insertValuePseudonymPairResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isAnonymised">
    <wsdl:part element="tns:isAnonymised" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getValueForList">
    <wsdl:part element="tns:getValueForList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ValueIsAnonymisedException">
    <wsdl:part element="tns:ValueIsAnonymisedException" name="ValueIsAnonymisedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrCreatePseudonymForResponse">
    <wsdl:part element="tns:getOrCreatePseudonymForResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertValuePseudonymPairsResponse">
    <wsdl:part element="tns:insertValuePseudonymPairsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="anonymiseEntries">
    <wsdl:part element="tns:anonymiseEntries" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrCreatePseudonymFor">
    <wsdl:part element="tns:getOrCreatePseudonymFor" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isAnonym">
    <wsdl:part element="tns:isAnonym" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPSNNetForResponse">
    <wsdl:part element="tns:getPSNNetForResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrCreatePseudonymForListResponse">
    <wsdl:part element="tns:getOrCreatePseudonymForListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPseudonymForValuePrefix">
    <wsdl:part element="tns:getPseudonymForValuePrefix" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPseudonymFor">
    <wsdl:part element="tns:getPseudonymFor" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DomainIsFullException">
    <wsdl:part element="tns:DomainIsFullException" name="DomainIsFullException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InsertPairException">
    <wsdl:part element="tns:InsertPairException" name="InsertPairException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="anonymiseEntryResponse">
    <wsdl:part element="tns:anonymiseEntryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertValuePseudonymPairs">
    <wsdl:part element="tns:insertValuePseudonymPairs" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getValueForListResponse">
    <wsdl:part element="tns:getValueForListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidPSNException">
    <wsdl:part element="tns:InvalidPSNException" name="InvalidPSNException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrCreatePseudonymForList">
    <wsdl:part element="tns:getOrCreatePseudonymForList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPseudonymForList">
    <wsdl:part element="tns:getPseudonymForList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isAnonymisedResponse">
    <wsdl:part element="tns:isAnonymisedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertValuePseudonymPair">
    <wsdl:part element="tns:insertValuePseudonymPair" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownDomainException">
    <wsdl:part element="tns:UnknownDomainException" name="UnknownDomainException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeletionForbiddenException">
    <wsdl:part element="tns:DeletionForbiddenException" name="DeletionForbiddenException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validatePSN">
    <wsdl:part element="tns:validatePSN" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEntry">
    <wsdl:part element="tns:deleteEntry" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isAnonymResponse">
    <wsdl:part element="tns:isAnonymResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PSNNotFoundException">
    <wsdl:part element="tns:PSNNotFoundException" name="PSNNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownValueException">
    <wsdl:part element="tns:UnknownValueException" name="UnknownValueException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PSNManager">
    <wsdl:operation name="getPSNNetFor">
      <wsdl:input message="tns:getPSNNetFor" name="getPSNNetFor">
      </wsdl:input>
      <wsdl:output message="tns:getPSNNetForResponse" name="getPSNNetForResponse">
      </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertValuePseudonymPairs">
      <wsdl:input message="tns:insertValuePseudonymPairs" name="insertValuePseudonymPairs">
      </wsdl:input>
      <wsdl:output message="tns:insertValuePseudonymPairsResponse" name="insertValuePseudonymPairsResponse">
      </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownDomainException" name="UnknownDomainException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getValueFor">
      <wsdl:input message="tns:getValueFor" name="getValueFor">
      </wsdl:input>
      <wsdl:output message="tns:getValueForResponse" name="getValueForResponse">
      </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
      <wsdl:fault message="tns:InvalidPSNException" name="InvalidPSNException">
      </wsdl:fault>
      <wsdl:fault message="tns:ValueIsAnonymisedException" name="ValueIsAnonymisedException">
      </wsdl:fault>
      <wsdl:fault message="tns:PSNNotFoundException" name="PSNNotFoundException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownDomainException" name="UnknownDomainException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOrCreatePseudonymForList">
      <wsdl:input message="tns:getOrCreatePseudonymForList" name="getOrCreatePseudonymForList">
      </wsdl:input>
      <wsdl:output message="tns:getOrCreatePseudonymForListResponse" name="getOrCreatePseudonymForListResponse">
      </wsdl:output>
      <wsdl:fault message="tns:DBException" name="DBException">
      </wsdl:fault>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownDomainException" name="UnknownDomainException">
      </wsdl:fault>
      <wsdl:fault message="tns:DomainIsFullException" name="DomainIsFullException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPseudonymForList">
      <wsdl:input message="tns:getPseudonymForList" name="getPseudonymForList">
      </wsdl:input>
      <wsdl:output message="tns:getPseudonymForListResponse" name="getPseudonymForListResponse">
      </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownDomainException" name="UnknownDomainException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertValuePseudonymPair">
      <wsdl:input message="tns:insertValuePseudonymPair" name="insertValuePseudonymPair">
      </wsdl:input>
      <wsdl:output message="tns:insertValuePseudonymPairResponse" name="insertValuePseudonymPairResponse">
      </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
      <wsdl:fault message="tns:InsertPairException" name="InsertPairException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownDomainException" name="UnknownDomainException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteEntries">
      <wsdl:input message="tns:deleteEntries" name="deleteEntries">
      </wsdl:input>
      <wsdl:output message="tns:deleteEntriesResponse" name="deleteEntriesResponse">
      </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownDomainException" name="UnknownDomainException">
      </wsdl:fault>
      <wsdl:fault message="tns:DeletionForbiddenException" name="DeletionForbiddenException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPSNTreeForPSN">
      <wsdl:input message="tns:getPSNTreeForPSN" name="getPSNTreeForPSN">
      </wsdl:input>
      <wsdl:output message="tns:getPSNTreeForPSNResponse" name="getPSNTreeForPSNResponse">
      </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
      <wsdl:fault message="tns:InvalidPSNException" name="InvalidPSNException">
      </wsdl:fault>
      <wsdl:fault message="tns:ValueIsAnonymisedException" name="ValueIsAnonymisedException">
      </wsdl:fault>
      <wsdl:fault message="tns:PSNNotFoundException" name="PSNNotFoundException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownDomainException" name="UnknownDomainException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="anonymiseEntry">
      <wsdl:input message="tns:anonymiseEntry" name="anonymiseEntry">
      </wsdl:input>
      <wsdl:output message="tns:anonymiseEntryResponse" name="anonymiseEntryResponse">
      </wsdl:output>
      <wsdl:fault message="tns:DBException" name="DBException">
      </wsdl:fault>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
      <wsdl:fault message="tns:ValueIsAnonymisedException" name="ValueIsAnonymisedException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownDomainException" name="UnknownDomainException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownValueException" name="UnknownValueException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validatePSN">
      <wsdl:input message="tns:validatePSN" name="validatePSN">
      </wsdl:input>
      <wsdl:output message="tns:validatePSNResponse" name="validatePSNResponse">
      </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
      <wsdl:fault message="tns:InvalidPSNException" name="InvalidPSNException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownDomainException" name="UnknownDomainException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteEntry">
      <wsdl:input message="tns:deleteEntry" name="deleteEntry">
      </wsdl:input>
      <wsdl:output message="tns:deleteEntryResponse" name="deleteEntryResponse">
      </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownDomainException" name="UnknownDomainException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownValueException" name="UnknownValueException">
      </wsdl:fault>
      <wsdl:fault message="tns:DeletionForbiddenException" name="DeletionForbiddenException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isAnonymised">
      <wsdl:input message="tns:isAnonymised" name="isAnonymised">
      </wsdl:input>
      <wsdl:output message="tns:isAnonymisedResponse" name="isAnonymisedResponse">
      </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
      <wsdl:fault message="tns:InvalidPSNException" name="InvalidPSNException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownDomainException" name="UnknownDomainException">
      </wsdl:fault>
      <wsdl:fault message="tns:PSNNotFoundException" name="PSNNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getValueForList">
      <wsdl:input message="tns:getValueForList" name="getValueForList">
      </wsdl:input>
      <wsdl:output message="tns:getValueForListResponse" name="getValueForListResponse">
      </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownDomainException" name="UnknownDomainException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="anonymiseEntries">
      <wsdl:input message="tns:anonymiseEntries" name="anonymiseEntries">
      </wsdl:input>
      <wsdl:output message="tns:anonymiseEntriesResponse" name="anonymiseEntriesResponse">
      </wsdl:output>
      <wsdl:fault message="tns:DBException" name="DBException">
      </wsdl:fault>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownDomainException" name="UnknownDomainException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOrCreatePseudonymFor">
      <wsdl:input message="tns:getOrCreatePseudonymFor" name="getOrCreatePseudonymFor">
      </wsdl:input>
      <wsdl:output message="tns:getOrCreatePseudonymForResponse" name="getOrCreatePseudonymForResponse">
      </wsdl:output>
      <wsdl:fault message="tns:DBException" name="DBException">
      </wsdl:fault>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownDomainException" name="UnknownDomainException">
      </wsdl:fault>
      <wsdl:fault message="tns:DomainIsFullException" name="DomainIsFullException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isAnonym">
      <wsdl:input message="tns:isAnonym" name="isAnonym">
      </wsdl:input>
      <wsdl:output message="tns:isAnonymResponse" name="isAnonymResponse">
      </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPseudonymForValuePrefix">
      <wsdl:input message="tns:getPseudonymForValuePrefix" name="getPseudonymForValuePrefix">
      </wsdl:input>
      <wsdl:output message="tns:getPseudonymForValuePrefixResponse" name="getPseudonymForValuePrefixResponse">
      </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownDomainException" name="UnknownDomainException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPseudonymFor">
      <wsdl:input message="tns:getPseudonymFor" name="getPseudonymFor">
      </wsdl:input>
      <wsdl:output message="tns:getPseudonymForResponse" name="getPseudonymForResponse">
      </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownDomainException" name="UnknownDomainException">
      </wsdl:fault>
      <wsdl:fault message="tns:UnknownValueException" name="UnknownValueException">
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PSNManagerBeanServiceSoapBinding" type="tns:PSNManager">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPSNNetFor">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPSNNetFor">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPSNNetForResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertValuePseudonymPairs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertValuePseudonymPairs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertValuePseudonymPairsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDomainException">
        <soap:fault name="UnknownDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getValueFor">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getValueFor">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getValueForResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidPSNException">
        <soap:fault name="InvalidPSNException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ValueIsAnonymisedException">
        <soap:fault name="ValueIsAnonymisedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PSNNotFoundException">
        <soap:fault name="PSNNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDomainException">
        <soap:fault name="UnknownDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOrCreatePseudonymForList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getOrCreatePseudonymForList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOrCreatePseudonymForListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DBException">
        <soap:fault name="DBException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDomainException">
        <soap:fault name="UnknownDomainException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DomainIsFullException">
        <soap:fault name="DomainIsFullException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPseudonymForList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPseudonymForList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPseudonymForListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDomainException">
        <soap:fault name="UnknownDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertValuePseudonymPair">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertValuePseudonymPair">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertValuePseudonymPairResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InsertPairException">
        <soap:fault name="InsertPairException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDomainException">
        <soap:fault name="UnknownDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteEntries">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteEntries">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteEntriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDomainException">
        <soap:fault name="UnknownDomainException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DeletionForbiddenException">
        <soap:fault name="DeletionForbiddenException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPSNTreeForPSN">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPSNTreeForPSN">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPSNTreeForPSNResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidPSNException">
        <soap:fault name="InvalidPSNException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ValueIsAnonymisedException">
        <soap:fault name="ValueIsAnonymisedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PSNNotFoundException">
        <soap:fault name="PSNNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDomainException">
        <soap:fault name="UnknownDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="anonymiseEntry">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="anonymiseEntry">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="anonymiseEntryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DBException">
        <soap:fault name="DBException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ValueIsAnonymisedException">
        <soap:fault name="ValueIsAnonymisedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDomainException">
        <soap:fault name="UnknownDomainException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownValueException">
        <soap:fault name="UnknownValueException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validatePSN">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validatePSN">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validatePSNResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidPSNException">
        <soap:fault name="InvalidPSNException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDomainException">
        <soap:fault name="UnknownDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteEntry">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteEntry">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteEntryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDomainException">
        <soap:fault name="UnknownDomainException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownValueException">
        <soap:fault name="UnknownValueException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DeletionForbiddenException">
        <soap:fault name="DeletionForbiddenException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isAnonymised">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isAnonymised">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isAnonymisedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidPSNException">
        <soap:fault name="InvalidPSNException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDomainException">
        <soap:fault name="UnknownDomainException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PSNNotFoundException">
        <soap:fault name="PSNNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getValueForList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getValueForList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getValueForListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDomainException">
        <soap:fault name="UnknownDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="anonymiseEntries">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="anonymiseEntries">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="anonymiseEntriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DBException">
        <soap:fault name="DBException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDomainException">
        <soap:fault name="UnknownDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOrCreatePseudonymFor">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getOrCreatePseudonymFor">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOrCreatePseudonymForResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DBException">
        <soap:fault name="DBException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDomainException">
        <soap:fault name="UnknownDomainException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DomainIsFullException">
        <soap:fault name="DomainIsFullException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isAnonym">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isAnonym">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isAnonymResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPseudonymForValuePrefix">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPseudonymForValuePrefix">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPseudonymForValuePrefixResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDomainException">
        <soap:fault name="UnknownDomainException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPseudonymFor">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPseudonymFor">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPseudonymForResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDomainException">
        <soap:fault name="UnknownDomainException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownValueException">
        <soap:fault name="UnknownValueException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PSNManagerBeanService">
    <wsdl:port binding="tns:PSNManagerBeanServiceSoapBinding" name="gpasServicePort">
      <soap:address location="http://localhost:8081/gpas/gpasService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
